## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [2]:
def multiplication_table(n):
  print("    ", end="")
  for i in range(1, n + 1):
      print(f"{i:4}", end="")  #formatted to string width of 4
  print()

  print("   " + "----" * n)

  for i in range(1, n + 1):
      print(f"{i:2} |", end="")
      for j in range(1, n + 1):
          print(f"{i * j:4}", end="") #formatted to string width of 4, if string (i*j) is less than 4 digit, it will do padding
      print()

multiplication_table(10)

       1   2   3   4   5   6   7   8   9  10
   ----------------------------------------
 1 |   1   2   3   4   5   6   7   8   9  10
 2 |   2   4   6   8  10  12  14  16  18  20
 3 |   3   6   9  12  15  18  21  24  27  30
 4 |   4   8  12  16  20  24  28  32  36  40
 5 |   5  10  15  20  25  30  35  40  45  50
 6 |   6  12  18  24  30  36  42  48  54  60
 7 |   7  14  21  28  35  42  49  56  63  70
 8 |   8  16  24  32  40  48  56  64  72  80
 9 |   9  18  27  36  45  54  63  72  81  90
10 |  10  20  30  40  50  60  70  80  90 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [1]:
def create_third_list(l1, l2):
  l3 = []
  for i in range(len(l1)):
    if i % 2 != 0:
      l3.append(l1[i])

  for i in range(len(l2)):
    if i % 2 == 0:
      l3.append(l2[i])
  return l3

create_third_list([2, 4, 6, 8, 10, 12, 14], [3, 6, 9, 12, 15, 18, 21])

[4, 8, 12, 3, 9, 15, 21]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [3]:
for i in range(8, 0, -1):
  print("  " * (8 - i), end="")
  print("* " * i)

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [4]:
def exponent(base, exp):
  result = 1
  for i in range(exp):
    result *= base
  return result

exponent(5, 4)

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [5]:
with open("test.txt", "w") as f:
  for i in range(1, 8):
    f.write(f"line{i}\n")

with open("new_test.txt", "w") as f:
  with open("test.txt", "r") as f1:
    for i, line in enumerate(f1):
      if i != 4:
        f.write(line)

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [6]:
def get_names():
  names = input("Enter three names: ")
  for name in names.split():
    print(name)

get_names()

Enter three names: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [7]:
def show_employee(name, salary=9000):
  print(f"Name: {name} salary: {salary}")

show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [8]:
def identify_words(str1):
    nums = set(str(i) for i in range(10))
    small_letters = set(chr(i) for i in range(97, 123))
    capital_letters = set(chr(i) for i in range(65, 91))
    chars = small_letters.union(capital_letters)

    for word in str1.split():
        has_letter = any(char in chars for char in word)
        has_digit = any(char in nums for char in word)

        if has_letter and has_digit:
            print(word)

identify_words("Harry25 is Gryffindor Wizard50 and cursed")

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [10]:
def substitute_special_characters(str1):
  nums = set(str(i) for i in range(10))
  small_letters = set(chr(i) for i in range(97, 123))
  capital_letters = set(chr(i) for i in range(65, 91))
  chars = small_letters.union(capital_letters)

  for char in str1:
    if char not in chars and char not in nums and char != ' ':
      str1 = str1.replace(char, "#")
  return str1

print(substitute_special_characters(input()))

/*Modi is @Politician & Melony!!
##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [11]:
def set_pair(first_list, second_list):
  result = set()
  for i in range(len(first_list)):
    result.add((first_list[i], second_list[i]))
  return result

set_pair([2, 3, 4, 5, 6, 7, 8], [4, 9, 16, 25, 36, 49, 64])

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [12]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A - B)
print(B - A)
print(A.intersection(B))
print(A.union(B))

{1, 2, 3}
{8, 6, 7}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [13]:
class Vehicle:
  def __init__(self, max_speed, mileage):
    self.max_speed = max_speed
    self.mileage = mileage

car = Vehicle(240, 18)
print(car.max_speed, car.mileage)

240 18

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [14]:
class Bus(Vehicle):
  def __init__(self, max_speed, mileage):
    super().__init__(max_speed, mileage)

bus = Bus(180, 12)
print(bus.max_speed, bus.mileage)

180 12

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [20]:
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

In [21]:
class Bus(Vehicle):
    def __init__(self, name, max_speed, mileage):
        super().__init__(name, max_speed, mileage)

    def seating_capacity(self, capacity=50):
        return super().seating_capacity(capacity)

my_bus = Bus("bus", 120, 15)

print(my_bus.seating_capacity())

The seating capacity of a bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [22]:
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
  def __init__(self, name, mileage, capacity):
    super().__init__(name, mileage, capacity)

  def fare(self):
    return super().fare() + super().fare() * 0.1

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [23]:
data = {"key1" : "value1", "key2" : "value2"}
import json
print(json.dumps(data))

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [28]:
import json

sample_json = {"id": 1, "name": "value2", "age": 29}

sorted_json_data = json.dumps(sample_json, sort_keys=True, indent=4) #to create indentation of same format as given in question

with open("sorted_data.json", "w") as file:
    file.write(sorted_json_data)

In [25]:
with open("sorted_data.json", "r") as file:
    sorted_data = json.load(file)
    print(sorted_data)

{'age': 29, 'id': 1, 'name': 'value2'}